<load target="./resource/css/core.css" />
<load target="./resource/js/login.js" type="body" />
<load target="./resource/js/jquery.placeholder.min.js" type="head" />

<!--//
	$layout_info->
				  layout_default_logo => 로고
-->
{@
	$oMemberModel = getModel('member');
	$config = $oMemberModel->getMemberConfig();
	$identifier = $config->identifier;
}

<div id="xelab-ll1">
	<div class="ll1-login">
		<canvas id="can" style="background-color:#191919">
			<div id="ie_background"> </div>
		</canvas>
		<div class="login_form" >
			<div class="ll1-container">
				<form ruleset="@login" action="./" method="post" id="fo_member_login">
					<div cond="$XE_VALIDATOR_MESSAGE && $XE_VALIDATOR_ID == 'modules/member/skin/default/1'" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
						<p>{$XE_VALIDATOR_MESSAGE}</p>
					</div>
					<h1><img src="{$layout_info->layout_default_logo}" alt="XELAB" title="XELAB" /></h1>
					<div class="form">
							<input type="hidden" name="success_return_url" value="{getUrl('mid', '')}" />
							<input type="hidden" name="act" value="procMemberLogin" />
							<input type="hidden" name="xe_validator_id" value="modules/member/skin/default/1" />
							<div class="wrap">
								<input type="text" cond="$identifier == 'user_id'" name="user_id" id="uid" required placeholder="{$lang->user_id}" title="{$lang->user_id}" />
								<input type="email" cond="$identifier != 'user_id'" name="user_id" id="uid" required placeholder="{$lang->email_address}" title="{$lang->email_address}" />
								<input type="password" name="password" id="upw" required placeholder="{$lang->password}" title="{$lang->password}" />
							</div>
							<input type="submit" value="{$lang->cmd_login}" />
					</div>
					<div class="buttons">
						<div class="core-float_left">
							<input type="checkbox" name="keep_signed" id="keepid_opt" value="Y" />
							<label for="l1l-autologin">{$lang->keep_signed}</label>
						</div>
						<div class="core-float_right">
							<a href="{getUrl('mid', '', 'act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a>
							<a href="{getUrl('mid', '', 'act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
jQuery(function($){
	$('input').placeholder();
	$('.ll1-login').height($(window).height());
	$('.ll1-login').width($(window).width());
	$('#ie_background').height($(window).height());
	window.onresize = function(){
		$('.ll1-login').height($(window).height());
		$('#ie_background').height($(window).height());
	}
});
</script>