@charset "utf-8";

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
	   url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
	   url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
	   url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}

body{margin:0;padding:0;overflow-y:scroll;}

#xelab-ll1{width:100%;font-family:'Nanum Gothic';}
#xelab-ll1 .ll1-container{width:960px;margin:0 auto;}

/* class=ll1-login */
#xelab-ll1 .ll1-login{width:80%;float:left;position:relative;}
#xelab-ll1 .ll1-login #can{width:100%;float:left;}
#xelab-ll1 .ll1-login .login_form{width:80%;position:absolute;top:45%;left:0;margin-top:-137px;z-index:10;}
#xelab-ll1 .ll1-login .login_form .l1-container{vertical-align:middle;}
#xelab-ll1 .ll1-login .login_form h1 > img{max-width:100%;}
#xelab-ll1 .ll1-login .login_form .form{width:80%;float:left;position:relative;}
#xelab-ll1 .ll1-login .login_form .form .wrap{margin-right:10%;}
#xelab-ll1 .ll1-login .login_form .form .wrap input{width:80%;float:left;box-sizing:border-box;padding:10px;font-size:14pt;font-family:'Nanum Gothic';}
#xelab-ll1 .ll1-login .login_form .form input[type="submit"]{width:9%;height:100%;position:absolute;right:0;top:0;border:0;background-color:#444;border-radius:10px;color:#fff;font-size:14pt;font-family:'Nanum Gothic';}
#xelab-ll1 .ll1-login .login_form .buttons{width:100%;float:left;padding:15px 0;}
#xelab-ll1 .ll1-login .login_form .buttons .core-float_left{float:left;}
#xelab-ll1 .ll1-login .login_form .buttons .core-float_left input,
#xelab-ll1 .ll1-login .login_form .buttons .core-float_left label{vertical-align:middle;font-size:11pt;color:#fff;}
#xelab-ll1 .ll1-login .login_form .buttons .core-float_right{float:right;}
#xelab-ll1 .ll1-login .login_form .buttons a{color:#fff;text-decoration:none;font-size:11pt;margin-right:20px;padding-left:20px;}
#xelab-ll1 .ll1-login .login_form .buttons a + a{border-left:1px solid #fff;}

#ie_background{width:100%;height:100%;display:block;position:absolute;top:0;left:0;z-index:1;background-image:url('../img/login_background.png');background-position:center center;background-repeat:no-repeat;}

/* transition */
#xelab-ll1 .ll1-container{transition:width 0.312s;}

@media all and (min-width:1440px){
	#xelab-ll1 .ll1-container{width:1440px;}
}

@media all and (min-width:1280px) and (max-width:1439px){
	#xelab-ll1 .ll1-container{width:1280px;}
}

@media all and (max-width:960px){
	#xelab-ll1 .ll1-container{width:100%;}
	#xelab-ll1 .ll1-login .login_form .form .wrap{margin-right:20%;margin-left:2%;}
	#xelab-ll1 .ll1-login .login_form .form input[type="submit"]{width:16%;right:2%;}
}